# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
.env.*.local

# OS files
.DS_Store
Thumbs.db

# Logs
logs
*.log
logs/*
pids
*.pid
*.seed
*.pid.lock

# Editor settings
.idea/
.vscode/
*.swp

# Build artifacts
dist/
coverage/

# Screenshot & batch output (if you don’t want to commit them)
screenshots/